[Unit]
Description=Run save_scylla_logs task every second ( need to be copied to /etc/systemd/system )

[Timer]
Unit=save_scylla_logs.service
OnBootSec=1s
OnUnitActiveSec=1s
AccuracySec=1ms

[Install]
WantedBy=timers.target