<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
      <security>
        <requestFiltering allowDoubleEscaping="true" />
      </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Sam.Web.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />

      <applicationInitialization remapManagedRequestsTo="log.html" skipManagedModules="true" >
          <add initializationPage="/" />
      </applicationInitialization>

    </system.webServer>
  </location>
</configuration>
